@import './card.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container > section {
  display: grid;
  grid-row-gap: 20px;
}

.container h1 {
  margin-bottom: 30px;
}

.card .buttons a {
  display: block;
}

@media (min-width: 768px) {
  .container > section {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}
